{% extends 'base.html.twig' %}

{% block title %}Unsubscriber index{% endblock %}

{% block body %}
   
<div class="container" Style="display: flex;-webkit-box-align: center;padding-bottom: 30px;    top: 50%;left: 50%;Width : 450px ; margin: 25px auto ;background: #fff;    border-radius: 5px;box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);">

<div class="inner-container">
<p><img src="https://gab.com/system/media_attachments/files/045/106/930/original/98dfe6ce7eabc090.png?1585849445"     width="100%"/></p>

<div class="bottom">
<h2 class="title">We are sad to see you go!</h2>
<p class="subtitle">You have been unsubscribed and will no longer hear from us.</p><p>
</p>
</div>
</div>

</div>


   
{% endblock %}
